{% extends "base.html" %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="row top_tiles">
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-server"></i></div>
                        <div class="count">{{ host_count }}</div>
                        <h3>主机总数</h3>
                        <p>NODES</p>
                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-users"></i></div>
                        <div class="count">{{ user_count }}</div>
                        <h3>用户总数</h3>
                        <p>USERS</p>
                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-cubes"></i></div>
                        <div class="count">{{ container_count }}</div>
                        <h3>容器总数</h3>
                        <p>CONTAINERS</p>
                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-window-restore"></i></div>
                        <div class="count">{{ image_count }}</div>
                        <h3>镜像总数</h3>
                        <p>IMAGES</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}