{% extends "base.html" %}

{% block content %}
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h3>权限管理</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>主机授权</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>
                        <form id="demo-form2" method="post" data-parsley-validate
                              class="form-horizontal form-label-left">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="perm_node">主机
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="perm_node" name="perm_node" class="node_select form-control">
                                        <option style="display: none;"></option>
                                        {% for node in nodes %}
                                            <option value="{{ node.id }}">{{ node.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="perm_user">用户
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="perm_user" name="perm_user" multiple="multiple" class="user_select form-control">
                                        {% for user in users %}
                                            <option value="{{ user.id }}">{{ user.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="button" id="perm_btn" class="btn btn-success">授权</button>
                                    <span id="perm_info"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block custom_js %}
    <script>
        $(document).ready(function () {
            var node = $('.node_select');
            node.select2();
            $('.user_select').select2({
                multiple: true
            });
            node.change(function () {
                $.get(site_url + 'permissions/get_node_users/',{'node_id': node.val()},
                    function (res) {
                        console.log(res.data);
                       $('.user_select').val(res.data).trigger('change');
                    }, 'json')
            });
            $('#perm_btn').click(function () {
                var n_id = $('#perm_node').val();
                var _html = '';
                if (n_id === '') {
                    _html = '<span style="color: #D9534F;font-weight: bold;">主机名不能为空</span>';
                    $('#perm_info').html(_html);
                    return
                 }
                var node_id = n_id;
                var user_list = $('.user_select').select2('val');
                console.log(user_list);
                $.ajax({
                    url: site_url + 'permissions/post_perm_set/',
                    data: {'node_id': node_id, 'user_list': user_list},
                    type: 'post',
                    traditional: true,
                    success: function (data) {
                        if (data.result) {
                            swal({
                                title: data.message,
                                type: 'success',
                                confirmButtonText: '确定',
                                closeOnConfirm : false,
                            },function () {
                                window.location = '{% url 'home:index' %}';
                            });
                        } else {
                            _html = '<span style="color: #D9534F;font-weight: bold;">' + data.message + '</span>';
                            $('#perm_info').html(_html);
                        }
                    }
                });
            });
        });
    </script>
{% endblock custom_js %}