{% extends "base.html" %}

{% block content %}
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h4>节点管理</h4>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h5>节点详情</h5>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>
                        <a class="btn btn-app">
                            <span class="badge bg-blue">0</span>
                            <i class="fa fa-th-list"></i> 集群
                        </a>
                        <a class="btn btn-app">
                            <span class="badge bg-green">0</span>
                            <i class="fa fa-server"></i> 容器
                        </a>
                        <a class="btn btn-app">
                            <span class="badge bg-orange">0</span>
                            <i class="fa fa-clone"></i> 镜像
                        </a>
                        <a class="btn btn-app">
                            <span class="badge bg-purple">0</span>
                            <i class="fa fa-envelope"></i> 卷
                        </a>
                        <a class="btn btn-app">
                            <span class="badge bg-blue-sky">0</span>
                            <i class="fa fa-sitemap"></i> 网络
                        </a>
                    </div>
                    <div class="x_content">
                        <br/>
                        <div class="col-sm-6">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th style="width:30%">操作系统：</th>
                                        <td>{{ node.os }} {{ node.os_arch }}</td>
                                    </tr>
                                    <tr>
                                        <th>系统信息：</th>
                                        <td><i class="fa fa-microchip"></i>CPU:-
                                            <i class="fa fa-ticket"></i>MEMORY:-</td>
                                    </tr>
                                    <tr>
                                        <th>系统状态：</th>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <th>Docker状态：</th>
                                        <td><i class="fa fa-heartbeat"></i>Run:-
                                            <i class="fa fa-heart"></i>Pause:-
                                            <i class="fa fa-heart-o"></i>Stop:-</td>
                                    </tr>

                                    <tr>
                                        <th>Docker版本：</th>
                                        <td>--</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th style="width:30%">节点名称：</th>
                                        <td>{{ node.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>节点URL：</th>
                                        <td>{{ node.node_url }}</td>
                                    </tr>
                                    <tr>
                                        <th>节点IP：</th>
                                        <td>{{ node.ip }}</td>
                                    </tr>
                                    <tr>
                                        <th>创建者：</th>
                                        <td>{{ node.created_by }}</td>
                                    </tr>
                                    <tr>
                                        <th>创建时间：</th>
                                        <td>{{ node.date_created }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="x_content">
                        <button class="btn btn-sm btn-primary">刷新数据</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}