{% extends "base.html" %}

{% block content %}
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h4>节点管理</h4>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h5>节点详情</h5>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>
                        <a href="{% url 'containers:container_list' %}" class="btn btn-app">
                            <span class="badge bg-blue-sky">{{ node.c_count|default:"0" }}</span>
                            <i class="fa fa-server"></i> 容器
                        </a>
                        <a class="btn btn-app">
                            <span class="badge bg-orange">{{ node.i_count|default:"0" }}</span>
                            <i class="fa fa-clone"></i> 镜像
                        </a>
                    </div>
                    <div class="x_content">
                        <br/>
                        <div class="col-sm-6">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th style="width:30%">操作系统：</th>
                                        <td>{{ node.os|default:"--" }} {{ node.os_arch }}</td>
                                    </tr>
                                    <tr>
                                        <th>系统信息：</th>
                                        <td><i class="fa fa-microchip"></i>CPU:{{ node.cpu_count|default:"-"  }}
                                            <i class="fa fa-ticket"></i>MEMORY:{{ node.memory|default:"-"|filesizeformat}}
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>系统状态：</th>
                                        {% if node.active %}
                                        <td><span class="label label-success">Success</span></td>
                                        {% else %}
                                            <td><span class="label label-danger">Failure</span></td>
                                        {% endif %}
                                    </tr>
                                     <tr>
                                        <th>检测时间：</th>
                                        <td>{{ node.check_time }}</td>
                                    </tr>
                                    <tr>
                                        <th>Docker状态：</th>
                                        <td><i class="fa fa-heartbeat"></i>Run:{{ node.c_running|default:"-" }}
                                            <i class="fa fa-heart"></i>Pause:{{ node.c_paused|default:"-" }}
                                            <i class="fa fa-heart-o"></i>Stop:{{ node.c_stopped|default:"-" }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Docker版本：</th>
                                        <td>{{ node.d_version|default:"--" }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th style="width:30%">节点名称：</th>
                                        <td>{{ node.name|default:"--" }}</td>
                                    </tr>
                                    <tr>
                                        <th>节点URL：</th>
                                        <td>{{ node.url|default:"--" }}</td>
                                    </tr>
                                    <tr>
                                        <th>节点IP：</th>
                                        <td>{{ node.ip|default:"--" }}</td>
                                    </tr>
                                    <tr>
                                        <th>所属组：</th>
                                        <td>{{ node.group.name|default:"--" }}</td>
                                    </tr>
                                    <tr>
                                        <th>创建者：</th>
                                        <td>{{ node.created_by|default:"--" }}</td>
                                    </tr>
                                    <tr>
                                        <th>创建时间：</th>
                                        <td>{{ node.date_created|default:"--" }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}