{% extends "dbase.html" %}

{% block content %}
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h3>容器管理</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>创建容器</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>
                        <form id="demo-form2" method="post" data-parsley-validate
                              class="form-horizontal form-label-left">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="c_name">容器名称</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="c_name" name="c_name" placeholder="名称可选"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="c_image">镜像
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="c_image" name="c_image" placeholder="格式<名称:版本>"
                                           class="form-control" style="font-weight: bold;">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="image_list"></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="image_list" name="image_list"
                                            class="image_select form-control">
                                        <option style="display: none;"></option>
                                        {% for image in images %}
                                            <option value="{{ image }}">{{ image }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="c_port">映射端口</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="c_port" type="text" name="c_port" class="tags form-control"
                                           value="80:80"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="c_volume">卷映射</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="c_volume" type="text" name="c_volume" class="tags form-control"
                                           value="/data:/data"/>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button id="run_btn" type="button" class="btn btn-md btn-primary">创建</button>
                                    <span id="run_info"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="loading"
                         style="display: none;position: absolute;z-index: 10000;width: 100%;top: 0;height: 550px;text-align: center;padding-top: 200px;">
                        <i class="fa fa-spinner fa-pulse fa-4x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block custom_js %}
    <script>
        $(function () {
            $('.image_select').select2({
                placeholder: '可从列表选择镜像',
            }).change(function () {
                $('#c_image').val($(this).val());
            });
            $('#c_port').tagsInput({
                width: 'auto',
                defaultText: '添加',
            });
            $('#c_volume').tagsInput({
                width: 'auto',
                defaultText: '添加',
            });
            $('#run_btn').click(function () {
                var _html = '';
                var post_data = {};
                var c_image = $('#c_image').val();
                if (c_image === '') {
                    _html = '<span style="color: #D9534F;font-weight: bold;">镜像不能为空</span>';
                    $('#run_info').html(_html);
                    return
                }
                ;
                if (c_image.indexOf(':') === -1) {
                    _html = '<span style="color: #D9534F;font-weight: bold;">镜像格式不正确</span>';
                    $('#run_info').html(_html);
                    return
                }
                ;
                post_data.image = c_image;
                var c_name = $('#c_name').val();
                if (c_name !== '') {
                    post_data.name = c_name;
                }
                ;
                var c_port = $('#c_port').val();
                if (c_port !== '') {
                    post_data.port = c_port;
                }
                ;
                var c_volume = $('#c_volume').val();
                if (c_volume !== '') {
                    post_data.volume = c_volume;
                }
                post_data.node_url = '{{ node.url }}';
                $('#loading').css('display', 'block');
                $.post(site_url + 'containers/post_container_create/', post_data,
                    function (data) {
                        $('#loading').css('display', 'none');
                        if (data.result) {
                            swal({
                                title: data.message,
                                type: 'success',
                                confirmButtonText: '确定',
                                closeOnConfirm: false,
                            }, function () {
                                window.location = '{% url 'containers:container_list' node.id %}';
                            });
                        } else {
                            _html = '<span style="color: #D9534F;font-weight: bold;">' + data.message + '</span>';
                            $('#run_info').html(_html);
                        }
                    }, 'json');
            });
        });
    </script>
{% endblock custom_js %}